.mainCalendar{
    width: 1500px;
    height: auto
}
.flexINPUT{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
.formINPUT2{
    width: 100%;
    margin-top: 20px;
}
    .formINPUT {
        width: 100%;
    margin-top: 20px;
        label {
          display: flex;
          align-items: center;
          gap: 10px;
    
          .icon {
            cursor: pointer;
          }
        }
    
        input {
          width: 100%;
          padding: 5px;
          border: none;
          border-bottom: 1px solid gray;
        }
      }
}