.tableform {
  // height: 20%;
  // width:20%;
  // padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   
    .item {
      display: flex;
      flex-direction: column;
    }

  }
}
