.datatable2 {
    // height: 1100px;
    // flex: 1;
    // padding: 20px;
    width: 100% !important;
    // padding-top: 0px;

    // -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    //     box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    //     padding: 15px;
    //     margin: 20px;
    //     border-radius: 15px;


    .datatableTitle{
      width: 100%;
      font-size: 24px;
      color: gray;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
     .helper {
      display: flex;
      flex-direction: row;
     }
      
     .trucklistCounter {

      color: rgb(22, 75, 190);
     }

    }
  
  }
  